{{ define "main" }}
<article>
    <h1>{{ .Title }}</h1>
    {{- with .Params.original_url }}
    <a href="{{ . }}">Original Recipe</a>
    {{- end }}
    <h2>Quantity</h2>
    <t2>For:</t2>
    <select id="serving-size" onchange="setPortions()">
        {{ range seq 1 18 }}
        <option value="{{ . }}" {{ if eq . 2 }}selected{{ end }}>{{ . }} serving{{ if ne . 1 }}s{{ end }}</option>
        {{ end }}
    </select>

    <h2>Ingredients</h2>
    <ul id="ingredient-list">
        {{ range .Page.Params.ingredients }}
        <li data-name="{{ .name }}" data-quantity="{{ .quantity_per_serving.value }}" data-units="{{ .quantity_per_serving.units }}">
            <label>
                <input type="checkbox" onchange="toggleChecked(this)">
                <span class="ingredient-text"></span>
            </label>
        </li>
        {{ end }}
    </ul>

    <h2>Steps</h2>
    {{ .Content }}
</article>

<style>
    .checked {
        text-decoration: line-through;
        color: #999;
    }
</style>

<script>
    function updateIngredients(initial = false) {
        const servingSelect = document.getElementById('serving-size')
        if (initial) {
            const urlParams = new URLSearchParams(window.location.search);
            const portions = urlParams.get('portions');
            if (portions !== null) {
                servingSelect.value = portions;
            }
        }

        const servings = servingSelect.value;
        const ingredients = document.querySelectorAll('#ingredient-list li');

        ingredients.forEach(ingredient => {
            const baseQuantity = parseFloat(ingredient.getAttribute('data-quantity'));
            const units = ingredient.getAttribute('data-units');
            const name = ingredient.getAttribute('data-name');
            const scaledQuantity = baseQuantity * servings;

            const span = ingredient.querySelector('.ingredient-text');
            if (scaledQuantity > 0) {
                span.textContent = `${twoDp(scaledQuantity)} ${units} ${name}`;
            } else {
                span.textContent = `${name}`;
            }

            const mentions = document.querySelectorAll(`.${name.replaceAll(' ', '_')}`);
            mentions.forEach(mention => {
                var mentionQuantity = scaledQuantity;
                const fraction = parseFloat(mention.getAttribute('fraction'));
                if (fraction === fraction) {
                    mentionQuantity = mentionQuantity * fraction;
                }
                if (mentionQuantity > 0) {
                    mention.textContent = `${twoDp(mentionQuantity)} ${units} ${name}`;
                } else {
                    mention.textContent = `${name}`;
                }
            });
        });
    }

    function toggleChecked(checkbox) {
        const span = checkbox.parentElement.querySelector('.ingredient-text');
        span.classList.toggle('checked', checkbox.checked);
    }

    function twoDp(num) {
        return parseFloat(num.toFixed(2))
    }

    function setPortions() {
        const servingSelect = document.getElementById('serving-size');
        const servings = servingSelect.value;
        const url = new URL(window.location.href);
        url.searchParams.set('portions', servings);
        window.location.href = url.toString();
    }

    updateIngredients(initial = true);
</script>
{{ end }}
