{{ define "main" }}
{{- $pages := sort .Pages "Date" "desc" -}}
{{- $paginator := .Paginate $pages -}}
<div>
    <dev>{{ .Content }}</dev>
    {{ range $index, $element := $paginator.Pages }}
    <div>
        - <a href="{{ .Permalink }}">{{ .Title }}</a>
        {{$page := .}}
        {{with .Description}}
        <p>{{.}}</p>
        {{end}}
        <div>
            {{with .Date}}
                {{.Format "Jan 2 2006"}}
            {{end}}
            <br>
            {{with .Params.tags}}
                Tags: {{ delimit . ", " }}
            {{end}}
        </div>
    </div>
    {{end}}
    {{ template "_internal/pagination.html" . }}
</div>
{{ end }}