
{{ define "main" }}
<div class="meal-plan">
<h1>{{ .Title }}</h1>
{{ with .Params.meals }}
{{- $allIngredients := dict }}
    <ul>
    {{ range $meal, $portions := . }}
        {{- $meal_page := $.GetPage (print "/recipes/" $meal ".md") -}}
        {{- with $meal_page.Params.ingredients }}
            {{- range $index, $ingredient := . }}
                {{- $currentTotal := or (index $allIngredients $ingredient.name) dict }}
                {{- $units := or $ingredient.quantity_per_serving.units "" }}
                {{- $currentTotalUnit := or (index $currentTotal $units) 0.0 }}
                {{- $newTotal := add $currentTotalUnit (mul $ingredient.quantity_per_serving.value $portions) }}
                {{- $newTotalDict := dict $ingredient.name (dict $units $newTotal) }}
                {{- $allIngredients = merge $allIngredients $newTotalDict }}
            {{- end }}
        {{- end }}
        <li>
        <a href="/recipes/{{ $meal | urlize }}?portions={{ $portions }}">{{ $meal_page.Title }} x {{ $portions }}</a>
        </li>
    {{ end }}
    </ul>
<h2>Shopping List</h2>
<ul>
{{- range $ingredient, $total := $allIngredients }}
    {{ $first := true }}
    <li>{{ $ingredient }}: {{ range $unit, $quantity := $total }}{{ if (not $first) }}{{ ", " }}{{ else }}{{ $first = false }}{{ end }}{{ math.Round $quantity }} {{ $unit }}{{ end }}</li>
{{- end }}
{{ else }}
    <p>No meals are defined in the front matter.</p>
{{ end }}
</div>
{{ end }}